.bg-green {
    background-color: #3FA355 !important;
}

.text-color-primary {
    color: #529C62;
}

.text-color-secondary {
    color: #35F05D;
}

.a {
    color: #F0354B;
}

.content-bg {
    background-color: #fbe9eb;
}
